
/* About page section Area Start */
.about-page-section{
    background: $bg-color2;
    padding: 112px 0px 120px;
    position: relative;
    .section-heading{
        text-align: left;
        .mybtn1{
            margin-top: 23px;
        }
    }
    .about-video{
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
        }
        .play-video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #eedcde;
            text-align: center;
            line-height: 120px;
            img{
                width: auto;
            }
        }
    }
}

/* Team Area Start */
.team{
    .top-area{
        background: url(../images/team/team-top-area.jpg);
        padding: 112px 0px 223px;
    }
    .team-members{
        background: $bg-color1;
        padding-bottom: 120px;
       .team-member-inner{
           margin-top: -180px;
           .single-team{
               border-radius: 11px;
               overflow: hidden;
               transition: $transition;
               box-shadow: 0px 5px 30px 0px rgba(7, 11, 40, 0.4);
               .image{
                   background: #1d2453;
                   position: relative;
                   img{
                       width: 100%;
                   }
                   .overlay{
                       position: absolute;
                       top: 0;
                       left: 0;
                       width: 100%;
                       height: 100%;
                       background: linear-gradient(to top, #011438 0%,rgba(#011438, 0.8) 20%, rgba(#011438, 0.4) 40%, rgba(#011438, 0.0) 50%, rgba(#011438, 0.00) 80%, rgba(#011438, 0.0) 100%);
                   }
                   .content{
                        display: block;
                        text-align: center;
                        position: absolute;
                        z-index: 3;
                        width: 100%;
                        left: 0px;
                        bottom: 22px;
                       .name{
                           font-size: 28px;
                           line-height: 38px;
                           font-weight: 700;
                           text-transform: uppercase;
                            color: #fff;
                            margin-bottom: 0px;
                       }
                       .designation{
                            color: $base-color; 
                           font-size: 20px;
                           line-height: 30px;
                       }
                   }
               }
               .social-area{
                   background: #1d2850;
                   display: block;
                   text-align: center;
                   padding: 30px 30px 30px;
                   .social-links{
                       display: inline-block;
                       background-color: rgb(44, 53, 106);
                       border-radius: 5px;
                       box-shadow: 0px 5px 30px 0px rgba(7, 11, 40, 0.2);
                       li{
                           display: inline-block;
                           border-right: 1px solid rgba(255, 255, 255, 0.15);
                           &:last-child{
                               border-right: 0px;
                           }
                           a{
                            height: 30px;
                            width: 35px;
                            display: block;
                            font-size: 12px;
                            line-height: 30px;
                            transition: $transition;
                            &:hover{
                                color: $base-color;
                            }
                           }
                       }
                   }
               }
               &:hover{
                    transform: translateY(-10px);
               }
           }
       }
    }
    .mybtn1{
        display: inline-block;
        margin-top: 60px;
    }
}
/* Team Area End */


  