.splide__container{
  box-sizing:border-box;
  position:relative
}

.splide__list{
  backface-visibility:hidden;
  display:-ms-flexbox;
  display:flex;
  height:100%;
  margin:0!important;padding:0!important
}

.splide.is-initialized:not(.is-active) .splide__list{
  display:block
}

.splide__pagination{
  -ms-flex-align:center;
  align-items:center;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:center;
  justify-content:center;
  margin:0;
  pointer-events:none
}

.splide__pagination li{
  display:none;
  line-height:1;
  list-style-type:none;
  margin:0;pointer-events:auto
}

.splide__progress__bar{
  width:0
}

.splide{
  position:relative;
  margin: auto;
  max-width: 70em;
}

.splide.is-initialized,.splide.is-rendered{
  visibility:visible
}

.splide__slide{
  backface-visibility:hidden;
  box-sizing:border-box;
  -ms-flex-negative:0;
  flex-shrink:0;
  list-style-type:none!important;
  margin: auto;
  position:relative;
}

.splide__slide img{
  vertical-align:bottom
}

.splide__spinner{
  animation:splide-loading 1s linear infinite;
  border:2px solid #999;
  border-left-color:transparent;
  border-radius:50%;
  bottom:0;
  contain:strict;
  display:inline-block;
  height:20px;
  left:0;
  margin:auto;
  position:absolute;
  right:0;
  top:0;
  width:20px
}

.splide__sr{
  clip:rect(0 0 0 0);
  border:0;
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
}

.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{
  display:none
}

.splide__toggle.is-active .splide__toggle__pause{
  display:inline
}

.splide__track{
  overflow:hidden;
  position:relative;
  z-index:0
}

@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}
.splide__track--draggable{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.splide__track--fade>.splide__list{
  display:block
}

.splide__track--fade>.splide__list>.splide__slide{
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  z-index:0
}

.splide__track--fade>.splide__list>.splide__slide.is-active{
  opacity:1;
  position:relative;
  z-index:1
}

.splide--rtl{
  direction:rtl
}

.splide__track--ttb>.splide__list{
  display:block
}

.splide__arrow{
  -ms-flex-align:center;
  align-items:center;
  background:#ccc;
  border:0;
  border-radius:50%;
  cursor:pointer;
  display:-ms-flexbox;
  display:flex;
  height:2em;
  -ms-flex-pack:center;
  justify-content:center;
  opacity:.7;
  padding:0;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:2em;
  z-index:1
}

.splide__arrow svg{
  fill:#000;
  height:1.2em;
  width:1.2em
}

.splide__arrow:hover:not(:disabled){
  opacity:.9
}

.splide__arrow:disabled{
  opacity:.3
}

.splide__arrow:focus-visible{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide__arrow--prev{
  left:1em
}

.splide__arrow--prev svg{
  transform:scaleX(-1)
}

.splide__arrow--next{
  right:1em
}

.splide.is-focus-in .splide__arrow:focus{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide__pagination{
  bottom:.5em;
  left:0;padding:0 1em;
  position:absolute;
  right:0;
  z-index:1
}

.splide__pagination__page{
  background:#ccc;
  border:0;
  border-radius:50%;
  display:inline-block;
  height:8px;
  margin:3px;
  opacity:.7;
  padding:0;
  position:relative;
  transition:transform .2s linear;
  width:8px
}

.splide__pagination__page.is-active{
  background:#fff;
  transform:scale(1.4);
  z-index:1
}

.splide__pagination__page:hover{
  cursor:pointer;
  opacity:.9
}

.splide__pagination__page:focus-visible{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide.is-focus-in .splide__pagination__page:focus{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide__progress__bar{
  background:#ccc;
  height:3px
}

.splide__slide{
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

.splide__slide:focus{
  outline:0
}



@supports(outline-offset:-3px){
  .splide__slide:focus-visible{outline:3px solid #0bf;outline-offset:-3px}
}

@media screen and (-ms-high-contrast:none){
  .splide__slide:focus-visible{border:3px solid #0bf}
}

@supports(outline-offset:-3px){
  .splide.is-focus-in .splide__slide:focus{outline:3px solid #0bf;outline-offset:-3px}
}

@media screen and (-ms-high-contrast:none){
  .splide.is-focus-in .splide__slide:focus{border:3px solid #0bf}
  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus{border-color:#0bf}
}

.splide__toggle{
  cursor:pointer
}

.splide__toggle:focus-visible{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide.is-focus-in .splide__toggle:focus{
  outline:3px solid #0bf;
  outline-offset:3px
}

.splide__track--nav>.splide__list>.splide__slide{
  border:3px solid transparent;
  cursor:pointer
}

.splide__track--nav>.splide__list>.splide__slide.is-active{
  border:3px solid #000
}

.splide__arrows--rtl .splide__arrow--prev{
  left:auto;
  right:1em
}

.splide__arrows--rtl .splide__arrow--prev svg{
  transform:scaleX(1)
}

.splide__arrows--rtl .splide__arrow--next{
  left:1em;
  right:auto
}

.splide__arrows--rtl .splide__arrow--next svg{
  transform:scaleX(-1)
}

.splide__arrows--ttb .splide__arrow{
  left:50%;
  transform:translate(-50%)
}

.splide__arrows--ttb .splide__arrow--prev{
  top:1em
}

.splide__arrows--ttb .splide__arrow--prev svg{
  transform:rotate(-90deg)
}

.splide__arrows--ttb .splide__arrow--next{
  bottom:1em;
  top:auto
}

.splide__arrows--ttb .splide__arrow--next svg{
  transform:rotate(90deg)
}

.splide__pagination--ttb{
  bottom:0;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  left:auto;
  padding:1em 0;right:.5em;top:0
}



.roadmap {
  font-family: $body-font;
  padding: 50px 0px 30px;
  .roadmap-row {
    min-height: 175px;
    padding-top: 30px;
    .title{
      font-size: 28px;
      line-height: 30px;
      color: $heading-color;
    }
    .text{
      font-size: 20px;
      line-height: 30px;
      color: $body-color;
    }
  }
}

/*Cellphone*/
@media only screen and (max-width: 650px) and (min-width: 360px)  {
  .big-title{
      text-align: center;
  }

  .title{
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      max-width: 400px;
      margin: 3% auto !important;
  }

  .text{
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      max-width: 500px;
      margin: 1em;
  }

  .icon{
      display: none;
  }

  .hero-empty{
      height: 14em !important;
  }
  
  .hero-button{
      margin: 0em;
  }

  .showcase{
      margin-bottom: 2em !important;
  }
  
  .showcase_gif{
      max-width: 20em;
  }

  .slider-div{
      width: 20em;
  }
  
  .roadmap-columns{
      display: flex;
      flex-direction: column;
  }

  .roadmap-column{
      max-width: 24em;
      margin: auto;
  }

  .roadmap-list-item{
      width: 18em;
  }

  .roadmap-title{
      font-size: 4.4rem;
      font-weight: 600;
      margin-bottom: 0;
  }
  
  .roadmap-header{
      font-size: 3rem;
      font-weight: 600;
      margin: auto;
      margin-top: 1em;
  }

  #game-column:before{
      height: calc(100% - 5.4em);
  }
  
  #worldMode-column:before{
      height: calc(100% - 6.8em);
  }
  
  #web-column:before{
      height: calc(100% - 5.4em);
  }

  .footer-note{
      width: 80%;
  }
}



/*Small tablet media queries*/

@media only screen and (max-width: 800px) and (min-width: 640px)  {
  .big-title{
      text-align: center;
  }
  
  .title{
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      max-width: 600px;
  }

  .text{
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      max-width: 700px;
      margin: auto 3em;
  }

  .hero-empty{
      height: 16em !important;
  }

  .icon{
      display: none;
  }
  
  .hero-button{
      margin: 0;
  }
  
  .showcase_gif{
      max-width: 20em;
  }
  
  .slider-image{
    max-width: 8em;
  }
  
  .roadmap-columns{
      display: flex;
      flex-direction: column;
  }

  .roadmap-column{
      max-width: 30em;
      margin: auto;
  }

  .roadmap-list-item{
      width: 25em;
  }

  .roadmap-title{
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 0;
  }
  
  .roadmap-header{
      font-size: 3.2rem;
      font-weight: 600;
      margin: auto;
      margin-top: 1em;
  }

  #game-column:before{
      height: calc(100% - 4em);
  }
  
  #worldMode-column:before{
      height: calc(100% - 4.4em);
  }
  
  #web-column:before{
      height: calc(100% - 4em) !important;
  }

  .footer-note{
      width: 80%;
  }
}



/*Large tablet media queries*/

@media only screen and (max-width: 1305px) and (min-width: 770px)  {
  .hero-empty{
      height: 20em !important;
  }
  
  .icon{
      display: none;
  }

  .showcase_gif{
      max-width: 20em;
  }
  
  .roadmap-columns{
      display: flex;
      flex-direction: column;
  }

  .roadmap-column{
      width: 32em;
      margin: auto;
  }

  .roadmap-list-item{
      width: 28em;
  }

  .roadmap-title{
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 0;
  }
  
  .roadmap-header{
      font-size: 3.2rem;
      font-weight: 600;
      margin: auto;
      margin-top: 1em;
  }

  #game-column:before{
      height: calc(100% - 3.5em);
  }
  
  #worldMode-column:before{
      height: calc(100% - 4.2em);
  }
  
  #web-column:before{
      height: calc(100% - 3.5em);
  }

  .footer-note{
      width: 80%;
  }

  .policy-list{
      text-align: left;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 760px) {
  .slider-image{
    max-width: 10em;
  }
}

@media only screen and (max-width: 1305px) and (min-width: 1040px) {
  .slider-image{
    max-width: 12em;
  }
}



/*Standard 15" laptop queries below*/
@media only screen and (max-width: 1455px) and (min-width: 1300px)  {
  .hero-empty{
      height: 22em !important;
  }

  .slider-image{
    max-width: 14em;
  }

  .roadmap-columns{
    display: flex;
    flex-direction: row;
  }

  .roadmap-column{
      width: 20em;
      margin-top: 0;
  }

  .roadmap-list-item{
      width: 18em;
  }

  .roadmap-title{
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 0;
  }
  
  .roadmap-header{
      font-size: 3.2rem;
      font-weight: 600;
      margin: auto;
      margin-top: 1em;
  }

  #game-column:before{
    height: calc(100% - 5em);
    left: .6em !important;
}

#worldMode-column:before{
    height: calc(100% - 6em);
    left: .6em !important;
}

#web-column:before{
    height: calc(100% - 5em);
    left: .6em !important;
}

.roadmap-list-item{
    width: 19em !important;
}

.roadmap-list-item:before{
    left: -2.5em;
}

.roadmap-list-item:after{
    left: -1.9em;
}

.roadmap-list-item-header:before{
    left: -2.4em;
}

.roadmap-list-item-header:after{
    left: -1.8em;
}
}



/*Standard 17"+ laptop queries below*/
@media only screen and (max-width: 1655px) and (min-width: 1450px)  {
  .hero-empty{
      height: 20em !important;
  }

  .slider-image{
    max-width: 17em;
  }

  .center-title{
      text-align: center;
      margin: 1em auto auto auto;
  }
  
  .roadmap-column{
      width: 24em;
      margin-top: 0;
  }

  .roadmap-title{
      font-size: 5rem;
      font-weight: 600;
  }
  
  .roadmap-header{
      font-size: 3.2rem;
      font-weight: 600;
  }

  #game-column:before{
      height: calc(100% - 5em);
      left: .6em !important;
  }
  
  #worldMode-column:before{
      height: calc(100% - 5em);
      left: .6em !important;
  }
  
  #web-column:before{
      height: calc(100% - 5em);
      left: .6em !important;
  }

  .roadmap-list-item{
      width: 22em !important;
  }

  .roadmap-list-item:before{
      left: -2.5em;
  }

  .roadmap-list-item:after{
      left: -1.9em;
  }

  .roadmap-list-item-header:before{
      left: -2.4em;
  }

  .roadmap-list-item-header:after{
      left: -1.8em;
  }

  .roadmap-list-item-text{
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      max-width: 20em;
  }
}

@media only screen and (max-width: 1855px) and (min-width: 1650px)  {
  .hero-empty{
      height: 20em !important;
  }

  .slider-image{
      max-width: 17em;
  }

  .center-title{
      text-align: center;
      margin: 1em auto auto auto;
  }
  
  .roadmap-column{
      width: 24em;
      margin-top: 0;
  }

  .roadmap-title{
      font-size: 5rem;
      font-weight: 600;
  }
  
  .roadmap-header{
      font-size: 3.2rem;
      font-weight: 600;
  }

  #game-column:before{
      height: calc(100% - 5em);
      left: .5em !important;
  }
  
  #worldMode-column:before{
      height: calc(100% - 5em);
      left: .5em !important;
  }
  
  #web-column:before{
      height: calc(100% - 5em);
      left: .5em !important;
  }

  .roadmap-list-item{
      width: 24em !important;
  }

  .roadmap-list-item:before{
      left: -2.6em;
  }

  .roadmap-list-item:after{
      left: -2em;
  }

  .roadmap-list-item-header:before{
      left: -2.5em;
  }

  .roadmap-list-item-header:after{
      left: -1.9em;
  }

  .roadmap-list-item-text{
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      max-width: 20em;
  }
}

